<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <!-- Example -->
    <h1>Welcome! <%= user.username %></h1>
    <a href='/'>Search</a>

 <% books.forEach(function(n) { %>
   <ul>
     <div>
       <img src='<%= n.volumeInfo.imageLinks.thumbnail  %>'/>
      <h3><%= n.volumeInfo.title %></h3>
   </div>
   </ul>
   <form action="/users/profile/<%= n._id%>?_method=DELETE" method="post">
     <input type="submit" value="Delete">
   </form>

   <% }) %>
  </body>
</html>
